.home-page {
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-section {
  background: #FAF9F6;
  padding: 0;
  text-align: center;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.2s ease-out 0.7s forwards;
  opacity: 0;
}

.no-animate .hero-section {
  animation: none;
  opacity: 1;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.hero-title {
  font-size: 2.4rem;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  color: #000;
  margin: 0;
  text-align: center;
}

.hero-description {
  font-size: 1rem;
  font-family: "Goudy Bookletter 1911", serif;
  color: #333;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.4;
}

@media (max-width: 968px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}
